#overskrift {
    text-align: center;
}

#vinnersjekk_metode {
    text-align: center;
    margin-top: 20px;
}

#ramme {
    width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Add this line */
    align-items: center;
    /* Add this line */
}

.rad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.boks {
    width: 148px;
    height: 148px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#vinnertekst {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}